* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: "Poppins", sans-serif;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(120, 120, 120, 0.72);
          box-shadow: 3px 5px 5px 0px rgba(120, 120, 120, 0.72);
  margin-bottom: 50px;
}

.nav-logo {
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  font-size: 40px;
  color: inherit;
}

button {
  width: 100px;
  margin-left: 100px;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  border: 0.1px solid orange;
  background-color: orange;
  border-radius: 10px;
  cursor: pointer;
}

button svg {
  width: 100px;
}

button:hover {
  background-color: white;
  border: 0.1px solid black;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card {
  -webkit-box-shadow: 3px 5px 5px 0px rgba(120, 120, 120, 0.72);
          box-shadow: 3px 5px 5px 0px rgba(120, 120, 120, 0.72);
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 100px;
  margin-bottom: 100px;
}

main .card .img-container {
  background-image: url("../../image/minh.png");
  background-position: center;
  background-size: 200px;
  background-repeat: no-repeat;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-bottom: 2rem;
}

main .card .main-title {
  font-size: 40px;
  margin-bottom: 2rem;
  text-align: center;
}

main .card .main-info {
  font-size: 22px;
  width: 700px;
  text-align: center;
  margin-bottom: 2rem;
}

main .card .page-link-container {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .card .page-link-container .links {
  margin: 100px 50px;
  color: inherit;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 22px;
}

main .card .page-link-container .links:hover {
  color: orange;
}

@media screen and (max-width: 780px) {
  button {
    width: 50px;
    margin-left: 2.5rem;
    margin-bottom: 1.25rem;
    border-radius: 5px;
  }
  button svg {
    width: 50px;
  }
  main .card {
    padding-top: 2.5rem;
  }
  main .card .main-title {
    font-size: 28px;
    margin-bottom: 1rem;
    text-align: center;
  }
  main .card .main-info {
    font-size: 18px;
    width: 500px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  button {
    margin-left: 1rem;
  }
  main .card {
    padding-top: 0px;
  }
  main .card .main-info {
    width: 300px;
  }
}

.skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1140px;
  padding-bottom: 100px;
}

.skills-container .skill-card {
  -webkit-box-shadow: 3px 5px 5px 0px rgba(120, 120, 120, 0.72);
          box-shadow: 3px 5px 5px 0px rgba(120, 120, 120, 0.72);
  padding: 20px;
  margin: 20px;
  width: 800px;
}

.skills-container .skill-card .skill-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px;
}

.skills-container .skill-card .skill-description {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}

@media screen and (max-width: 880px) {
  .skills-container {
    max-width: 800px;
    padding-bottom: 50px;
  }
  .skills-container .skill-card {
    width: 600px;
  }
  .skills-container .skill-card .skill-name {
    font-size: 28px;
  }
  .skills-container .skill-card .skill-description {
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  .skills-container .skill-card {
    width: 380px;
  }
}

.projects-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1140px;
  padding-bottom: 100px;
}

.projects-container .project-link {
  text-decoration: none;
  color: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.projects-container .project-link .project-card {
  -webkit-box-shadow: 3px 5px 5px 0px rgba(120, 120, 120, 0.72);
          box-shadow: 3px 5px 5px 0px rgba(120, 120, 120, 0.72);
  padding: 20px;
  margin: 20px;
  width: 800px;
  cursor: pointer;
}

.projects-container .project-link .project-card .project-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
  padding-top: 10px;
}

.projects-container .project-link .project-card .project-top .project-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-left: 10px;
}

.projects-container .project-link .project-card .project-top .name-0 {
  color: #55b1c4;
}

.projects-container .project-link .project-card .project-top .name-1 {
  color: #ff8522;
}

.projects-container .project-link .project-card .project-top .name-2 {
  color: #fd72b2;
}

.projects-container .project-link .project-card .project-top .name-3 {
  color: #dbbb50;
}

.projects-container .project-link .project-card .project-top .name-4 {
  color: #d5861a;
}

.projects-container .project-link .project-card .project-top .project-launch {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 10px;
}

.projects-container .project-link .project-card .project-description {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}

.projects-container .project-link .project-card:hover {
  opacity: 0.5;
}

@media screen and (max-width: 880px) {
  .projects-container {
    padding-bottom: 2.5rem;
    max-width: 600px;
  }
  .projects-container .project-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .projects-container .project-link .project-card {
    padding: 1rem;
    margin: 1rem;
    width: 600px;
  }
  .projects-container .project-link .project-card .project-top {
    width: 580px;
  }
  .projects-container .project-link .project-card .project-top .project-name {
    font-size: 28px;
  }
  .projects-container .project-link .project-card .project-top .project-launch {
    font-size: 18px;
  }
  .projects-container .project-link .project-card .project-description {
    font-size: 18px;
  }
}

@media screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }
  .projects-container {
    max-width: 400px;
  }
  .projects-container .project-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .projects-container .project-link .project-card {
    width: 350px;
  }
  .projects-container .project-link .project-card .project-top {
    width: 330px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .projects-container .project-link .project-card .project-top .project-name {
    font-size: 28px;
    margin-bottom: 0.5rem;
  }
  .projects-container .project-link .project-card .project-top .project-launch {
    font-size: 18px;
    padding-left: 10px;
    font-style: italic;
    margin-bottom: 0.5rem;
  }
}

.project-detail-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1140px;
  padding-bottom: 100px;
}

.project-detail-container .section {
  max-width: 800px;
  margin-bottom: 40px;
}

.project-detail-container .section .project-list-name {
  margin-bottom: 20px;
  font-size: 32px;
  width: 800px;
}

.project-detail-container .section .list-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 800px;
}

.project-detail-container .section .list-container li {
  margin-bottom: 10px;
  width: 800px;
}

.project-detail-container .section a {
  text-decoration: none;
  color: inherit;
}

.project-detail-container .section a:hover {
  text-decoration: underline;
  color: orange;
}

@media screen and (max-width: 950px) {
  .project-detail-container {
    padding-bottom: 2.5rem;
  }
  .project-detail-container .section {
    max-width: 500px;
  }
  .project-detail-container .section .project-list-name {
    font-size: 28px;
    width: 500px;
  }
  .project-detail-container .section .list-container {
    width: 500px;
  }
  .project-detail-container .section .list-container li {
    width: 500px;
  }
}

@media screen and (max-width: 600px) {
  .project-detail-container .section {
    max-width: 400px;
  }
  .project-detail-container .section .project-list-name {
    font-size: 28px;
    width: 200px;
    margin-left: 20px;
  }
  .project-detail-container .section .list-container {
    width: 250px;
    margin: 0px 20px;
  }
  .project-detail-container .section .list-container li {
    width: 250px;
    margin-left: 20px;
  }
  .project-detail-container .section span {
    margin-left: 20px;
  }
  .project-detail-container .section a {
    margin-left: 20px;
  }
}
/*# sourceMappingURL=style.css.map */