$tekshop-color: #55b1c4;
$yay-color: #fd72b2;
$pillow-color: #ff8522;
$techblog-color: #dbbb50;
$csm-color: #d5861a;

$font-primary: "Poppins", sans-serif;

$box-shadow-card: 3px 5px 5px 0px rgba(120, 120, 120, 0.72);

$header-primary: 40px;
$header-secondary: 32px;
$header-third: 22px;
$text-primary: 16px;
$cta-text: 20px;

$mobile-header-text: 28px;
$mobile-secondary-text: 24px;
$mobile-third: 18px;
$mobile-text: 14px;
